* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Corbel;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: default;
    color: #F6F6F6;
    background-color: #1A1629;
}

.header {
    position: relative;
    top: 1vw;
    background-color: #342A59;
    padding-left: 5vw;
    padding-right: 5vw;
}

.nav-links {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    z-index: 1;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

#content a {
    position: relative;
    color: #F6F6F6;
    z-index: 1;
}

#content a:hover {
    color: rgb(255, 163, 102);
}

.square {
    position: absolute;
    width: 98vw;
    height: 47vw;
    border-style: solid;
    border-width: 0.5vw;
    border-color: #8670F3;
    opacity: 43%;
    top: 1vw;
    left: 1vw;
    z-index: -3;
}

.contact {
    position: relative;
    font-size: 17vw;
    font-family: Corbel;
    font-weight: 900;
    top: 12vw;
    left: 20vw;
    color: #976ecc;
}

.skeTJ {
    position: relative;
    width: 75%;
    height: auto;
    top: -30vw;
    left: 20vw;
    z-index: -3;
}

.headse {
    position: relative;
    width: 5vw;
    height: auto;
}

.vl {
    width: 0.7vw;
    height: auto;
}

.vd {
    width: 0.7vw;
    height: auto;
}