* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Corbel;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    cursor: default;
    color: #F6F6F6;
    background-color: #1A1629;
}

.header {
    position: relative;
    top: 1vw;
    background-color: #342A59;
    padding-left: 5vw;
    padding-right: 5vw;
}

.nav-links {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    z-index: 1;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

#content a {
    position: relative;
    color: #F6F6F6;
    z-index: 1;
}

#content a:hover {
    color: rgb(255, 163, 102);
}

.headse {
    position: relative;
    width: 5vw;
    height: auto;
}

.vl {
    width: 0.7vw;
    height: auto;
}

.vd {
    width: 0.7vw;
    height: auto;
}

.pink {
    position: relative;
    width: 12.4vw;
    height: 4.7vw;
    background-color: #4E3769;
    top: -3.7vw;
    left: 43.8vw;
    z-index: 0;
}

.first {
    position: relative;
    top: -3.7vw;
    height: 50vw;
}

.bgtan {
    position: relative;
    height: 59.58vw;
    width: auto;
    z-index: -1;
}

.left {
    position: relative;
    top: -50vw;
    left: 8vw;
    font-family: Corbel;
}

.littleti {
    font-weight: 600;
    font-size: 1.5vw;
    color: #E05584;
    margin-bottom: 0.75vw;
}

.tantitle {
    font-weight: 900;
    font-size: 6.25vw;
    color: #F6F6F6;
    margin-bottom: 1.5vw;
}

.above {
    font-weight: 400;
    font-size: 1.5vw;
    color: rgba(246, 246, 246, 0.815);
    line-height: 2.5vw;
}

.right {
    position: relative;
    top: -79vw;
    left: 45vw;
    width: 50vw;
    height: auto;
}

.righttan {
    position: relative;
    width: 48vw;
    height: auto;
}

.righttan:hover {
    transform: scale(1.05);
}

.part2020 {
    position: relative;
    height: 1vw;
}

.bg2 {
    position: relative;
    height: 60vw;
    width: auto;
    top: 5vw;
    z-index: -1;
    background-color: #2A2346;
}

.second {
    position: relative;
    top: -62vw;
    height: 5vw;
}

.year {
    position: relative;
    top: 1vw;
    left: 43vw;
    width: 50%;
    padding-left: 10vw;
}

.yearul {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    z-index: 1;
}

.yearul li div {
    text-decoration: none;
}

.t2020 {
    position: relative;
    color: #F6F6F6;
    z-index: 1;
    font-size: 3vw;
    font-weight: bold;
    font-family: Britannic;
    top: 0.4vw;
}

.t2019 {
    position: relative;
    z-index: 1;
    font-size: 2vw;
    font-weight: bold;
    font-family: Britannic;
    color: #A28CCE;
}

.t2019:hover {
    text-decoration: none;
    color: #E05584;
    cursor: pointer;
}

.t2018 {
    position: relative;
    z-index: 1;
    font-size: 2vw;
    font-weight: bold;
    font-family: Britannic;
    color: #A28CCE;
}

.t2018:hover {
    text-decoration: none;
    color: #E05584;
    cursor: pointer;
}

.t2017 {
    position: relative;
    z-index: 1;
    font-size: 2vw;
    font-weight: bold;
    font-family: Britannic;
    color: #A28CCE;
}

.t2017:hover {
    text-decoration: none;
    color: #E05584;
    cursor: pointer;
}

.t2016 {
    position: relative;
    z-index: 1;
    font-size: 2vw;
    font-weight: bold;
    font-family: Britannic;
    color: #A28CCE;
}

.t2016:hover {
    text-decoration: none;
    color: #E05584;
    cursor: pointer;
}

.pinkline {
    position: relative;
    width: 7.3vw;
    height: 0.5vw;
    top: 3.2vw;
    left: 54.2vw;
    background-color: #E05584;
}

.shajun {
    position: relative;
    height: auto;
    width: 40vw;
    top: -5vw;
    left: 8vw;
}

.shajun:hover {
    transform: scale(1.05);
}

.right2 {
    position: relative;
    left: 54.5vw;
    top: -50vw;
    font-family: Corbel;
}

.littleti2 {
    font-size: 1.5vw;
    font-weight: 600;
    color: #E05584;
}

.page {
    position: relative;
    left: 35vw;
    top: -28vw;
}

.nex {
    position: relative;
    width: 5.2vw;
    height: auto;
}

.bac {
    position: relative;
    width: 3.2vw;
    height: auto;
    top: 1vw;
    left: 1.5vw;
}

.title2 {
    position: relative;
    top: 2vw;
    left: -0.5vw;
    font-size: 4.9vw;
    font-weight: 800;
    line-height: 5vw;
    letter-spacing: -0.1vw;
}

.above2 {
    position: relative;
    top: 4vw;
    left: -0.5vw;
    font-size: 1.5vw;
    font-weight: lighter;
}

.hashtag {
    position: relative;
    display: flex;
}

.tag1 {
    position: relative;
    top: 8vw;
    left: -1vw;
    margin-right: 2vw;
}

.com {
    position: relative;
    width: 9.5vw;
    height: auto;
}

.tag2 {
    position: relative;
    width: 9.5vw;
    height: auto;
    top: 8vw;
    left: -1vw;
}

.rew {
    position: relative;
    width: 9.5vw;
    height: auto;
}

.detail {
    position: relative;
    width: 17.29vw;
    height: 4.7vw;
    border-style: solid;
    border-width: 0.16vw;
    border-color: #E84978;
    top: 11vw;
    left: 24vw;
}

.word {
    position: relative;
    font-size: 1.8vw;
    font-weight: 800;
    top: 1.1vw;
    left: 3vw;
}

.click {
    width: 4.53vw;
    height: 4.6vw;
}

.clicksqu {
    position: relative;
    width: 4.53vw;
    height: 4.6vw;
    background-color: #CB407C;
    opacity: 31%;
    top: -2.2vw;
    left: 12.5vw;
}

.triangle {
    position: relative;
    top: -5.3vw;
    left: 14.5vw;
}

.viewothers {
    position: relative;
    font-size: 1.4vw;
    color: #A3C2EB;
    letter-spacing: 0.1vw;
    top: 12vw;
    left: 32vw;
}

.squ {
    position: relative;
    height: 2vw;
    width: 100%;
    top: -2vw;
    background-color: #221C39;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #1A1629;
}

.ftleft {
    position: relative;
    top: 2vw;
}

.footerlfse {
    position: relative;
    width: 11vw;
    height: auto;
}

.ftlfword {
    position: relative;
    font-family: Corbel;
    font-size: 1vw;
    font-weight: 700;
    color: #6147C0;
    top: 2vw;
}

.ftmid {
    position: relative;
    top: 5vw;
    height: 1vw;
}

.aicon {
    position: relative;
    margin-right: 2vw;
}

.fb {
    position: relative;
    margin-left: 4.5vw;
    width: 1vw;
    height: auto;
}

.ig {
    position: relative;
    width: 1.64vw;
    height: auto;
}

.tt {
    position: relative;
    width: 1.88vw;
    height: auto;
}

.yt {
    position: relative;
    width: 2vw;
    height: auto;
}

.fb:hover {
    transform: scale(1.2);
}

.ig:hover {
    transform: scale(1.2);
}

.tt:hover {
    transform: scale(1.2);
}

.yt:hover {
    transform: scale(1.2);
}

.ftmdword {
    position: relative;
    display: flex;
    top: 3vw;
}

.ftmdword1 {
    position: relative;
    margin-right: 2vw;
    font-family: Corbel;
    font-size: 1vw;
    font-weight: 700;
    color: #6147C0;
}

.ftmdword2 {
    position: relative;
    margin-right: 2vw;
    font-family: Corbel;
    font-size: 1vw;
    font-weight: 700;
    color: #6147C0;
}

.ftmdword3 {
    font-family: Corbel;
    font-size: 1vw;
    font-weight: 700;
    color: #6147C0;
}

.ftrt {
    position: relative;
    top: 1vw;
}

.footerrtse {
    position: relative;
    width: 13.75vw;
    height: auto;
}